<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <h1>Edit Your Post</h1>
        <%= render 'form', post: @post %>
        <hr>
        <div class="has-text-centered">
          <%= link_to 'Home', posts_path, class: 'button' %>
        </div>
      </div>
    </div>
  </article>
</div>
