<div class="box">
  <article class="media">
    <div class="media-content">
      <%= @post.body %>
      <hr>
      <div class="has-text-centered">
        <%= link_to 'Edit', edit_post_path(@post), class: 'button' %>
        <%= link_to 'Home', posts_path, class: 'button' %>
      </div>
    </div>
  </article>
</div>
